#Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [1]:
import pandas as pd
df = pd.read_csv('../data/supermarket_sales.csv')

In [14]:
df.head(10)

    Invoice ID Branch       City  ... gross margin percentage gross income Rating
0  750-67-8428      A     Yangon  ...                4.761905      26.1415    9.1
1  226-31-3081      C  Naypyitaw  ...                4.761905       3.8200    9.6
2  631-41-3108      A     Yangon  ...                4.761905      16.2155    7.4
3  123-19-1176      A     Yangon  ...                4.761905      23.2880    8.4
4  373-73-7910      A     Yangon  ...                4.761905      30.2085    5.3
5  699-14-3026      C  Naypyitaw  ...                4.761905      29.8865    4.1
6  355-53-5943      A     Yangon  ...                4.761905      20.6520    5.8
7  315-22-5665      C  Naypyitaw  ...                4.761905      36.7800    8.0
8  665-32-9167      A     Yangon  ...                4.761905       3.6260    7.2
9  692-92-5582      B   Mandalay  ...                4.761905       8.2260    5.9

[10 rows x 17 columns]

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [22]:
df.groupby('Branch')['gross income'].sum()

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

In [16]:
pd.pivot_table(df, index = 'Branch' , columns = 'City' , values = 'gross income', aggfunc = 'sum')

City    Mandalay  Naypyitaw     Yangon
Branch
A            NaN        NaN  5057.1605
B       5057.032        NaN        NaN
C            NaN  5265.1765        NaN

In [25]:
df.groupby('Branch')['gross income'].sum().idxmax()

'C'

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [28]:
invoices_by_category = pd.pivot_table(df, index='Branch', columns='Product line', values='City', aggfunc='count')

In [56]:
invoices_by_category

Product line  Electronic accessories  ...  Sports and travel
Branch                                ...
A                                 60  ...                 59
B                                 55  ...                 62
C                                 55  ...                 45

[3 rows x 6 columns]

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

In [60]:
invoices_by_category.columns

Index(['Electronic accessories', 'Fashion accessories', 'Food and beverages',
       'Health and beauty', 'Home and lifestyle', 'Sports and travel'],
      dtype='object', name='Product line')

In [64]:
invoices_by_category.index

Index(['A', 'B', 'C'], dtype='object', name='Branch')

In [63]:
filtred_index =invoices_by_category['Electronic accessories'].idxmax()

'A'

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌

#### 1. Хто частіше купує товари чоловіки чи жінки. Які категорії товарів найбільше та найменше купують жінки/чоловіки. 
На основі аналізу і відповіді на питання можна розробити маркетингові стратегії для більшої залученності тої категорії хто купує рідше.

In [22]:
grouped_data = df.groupby(['Product line', 'Gender'])['Quantity'].sum().idxmax()
grouped_data

('Fashion accessories', 'Female')

In [41]:
pd.pivot_table(df, index = 'Gender', columns = ['City'], values = ['Quantity'], aggfunc = 'count')

       Quantity
City   Mandalay Naypyitaw Yangon
Gender
Female      162       178    161
Male        170       150    179

In [39]:
tabl = pd.pivot_table(df, index = 'Product line', columns = ['Gender', 'City' ], values = ['Quantity'], aggfunc = 'count')
tabl

                       Quantity
Gender                   Female                      Male
City                   Mandalay Naypyitaw Yangon Mandalay Naypyitaw Yangon
Product line
Electronic accessories       28        28     28       27        27     32
Fashion accessories          33        35     28       29        30     23
Food and beverages           29        38     23       21        28     35
Health and beauty            20        23     21       33        29     26
Home and lifestyle           22        25     32       28        20     33
Sports and travel            30        29     29       32        16     30

In [70]:
max_invoice = tabl.max().idxmax()
min_invoice = tabl.min().idxmin()
popular_productgroup = tabl.max(axis = 1).idxmax()
not_populargroup = tabl.min(axis =1 ).idxmin()
print(f'Найбільше покупок здійснюється {max_invoice[1]}, в місті {max_invoice[2]} - {popular_productgroup}.',
      "\n"f'Найменше покупок здійснюється {min_invoice[1]}, в місті {min_invoice[2]} - {not_populargroup}.')

Найбільше покупок здійснюється Female, в місті Naypyitaw - Food and beverages.
Найменше покупок здійснюється Male, в місті Naypyitaw - Sports and travel.

## Висновок: 
Ми провели аналіз даних, щоб визначити, які категорії товарів частіше купують чоловіки та жінки, а також у яких містах ці покупки найчастіші. Хоча в розрізі загального аналізу ми отримали результати що жінки купляють частіше за чоловіків категорію товарів Fashion accessories, на мою думку, доцільніше розглянути аналіз покупок на основі гендерної умови по містам мережі супермаркетів і типу продуктів. 
Використовуючи дані про кількість придбаних товарів, ми з'ясували, що жінки в місті Naypyitaw найбільше купують товари категорії Food and Beverages, тоді як чоловіки в Mandalay та Yangon частіше купують товари інших категорій. Найменш популярною категорією товарів серед чоловіків виявилася Sports and Travel у місті Naypyitaw.

#### Рекомендації:

Оптимізація маркетингових кампаній: Оскільки жінки в Naypyitaw активно купують товари категорії Food and Beverages, рекомендується запровадити маркетингові кампанії, які спрямовані на збільшення обсягів продажів цієї категорії. Наприклад, можна запропонувати акції типу "Купуйте 2 товари - отримайте 3-й зі знижкою 50%", щоб стимулювати ще більші покупки.

Збільшення продажів малопопулярних товарів: Категорія Sports and Travel виявилася найменш затребуваною серед чоловіків у Naypyitaw. Рекомендується звернути увагу на можливі причини низької популярності цієї категорії. Можна організувати промоакції, наприклад, спільно з міською владою провести марафон або інші спортивні заходи, де необхідне спортивне обладнання, яке можна придбати в нашій мережі супермаркетів.

Підвищення обізнаності клієнтів: Створення тестових зон у магазинах для товарів категорії Sports and Travel може допомогти клієнтам краще ознайомитися з продукцією, зняти можливі сумніви та підвищити рівень їхньої задоволеності. Це сприятиме збільшенню продажів та залученню нових клієнтів.

#### 2. Визначення найменш популярного методу оплати серед клієнтів, що може свідчити про потенційні проблеми або недоліки в обслуговуванні. Наприклад, якщо клієнти рідко користуються картками, це може вказувати на недостатню кількість терміналів або їхню ненадійність. Якщо ж частіше обирають готівку, можливі труднощі з рештою у касирів. Виявлення цих аспектів дозволить підвищити ефективність обслуговування та задоволеність клієнтів.

In [117]:
payment_method = df.groupby('Payment')['City'].agg('count').reset_index() 
# Рахуємо кількість оплат по кожному методу

payment_method

       Payment  City
0         Cash   344
1  Credit card   311
2      Ewallet   345

In [106]:
pd.pivot_table(df, index = 'Payment', columns = 'City', values = 'Invoice ID' , aggfunc = 'count' )

City         Mandalay  Naypyitaw  Yangon
Payment
Cash              110        124     110
Credit card       109         98     104
Ewallet           113        106     126

## Висновки:
Згідно з проведеним аналізом даних про методи оплати в супермаркетах, найменша популярність спостерігається у методу оплати готівкою у всіх трьох філіях. Це може свідчити про можливі проблеми з обслуговуванням, такі як нестача дрібних купюр у касах для видачі решти. Впровадження рекомендацій може допомогти підвищити ефективність обслуговування та задоволеність клієнтів.

#### Рекомендації:

Забезпечення дрібних грошей: Рекомендується забезпечити наявність достатньої кількості дрібних купюр у касах, щоб уникнути проблем з видачею решти. Це допоможе зменшити незручності для клієнтів і забезпечить більш ефективне обслуговування.

Впровадження купонів на наступну покупку: У випадках, коли дрібні гроші відсутні, можна впровадити систему купонів на наступну покупку. Касири можуть вказувати суму вручну, щоб компенсувати відсутність дрібних грошей. Це забезпечить зручність для клієнтів і зменшить негативний вплив на їхнє враження від обслуговування.

Додатковий аналіз:

Рекомендується перевірити інші фактори, які можуть впливати на популярність методів оплати, такі як сезонні тренди чи спеціальні промоакції.
Збір зворотного зв'язку та моніторинг: Проводьте опитування клієнтів для отримання додаткової інформації про можливі проблеми з оплатою. Після впровадження запропонованих змін, здійснюйте моніторинг результатів, щоб оцінити їх вплив на популярність методів оплати та загальне обслуговування клієнтів.

#### 3. Оцінка рівня задоволеності клієнтів: Аналізуючи рівень задоволеності клієнтів, потрібно визначити ймовірність повторного візиту клієнта або його готовність рекомендувати наші послуги іншим. Ця гіпотеза дозволить оцінити загальну ефективність обслуговування та виявити потенційні області для покращення клієнтського досвіду.

In [123]:
def rules_rating(val):
    if val >= 8:
        return 'High'
    elif 6 <= val < 8:
        return 'Medium'
    else:
        return 'Low'

In [124]:
df['Rating_category'] = df.Rating.apply(rules_rating).astype('category')

In [147]:
def most_frequent(series):
    return series.mode().values[0] if not series.mode().empty else None

# Групування за містом і категорією рейтингу та застосування функції для знаходження найчастіше значення
pivot_table_mode = df.groupby(['City', 'Rating_category'])['Customer type'].apply(most_frequent).unstack()

pivot_table_mode

Rating_category    High     Low  Medium
City
Mandalay         Member  Member  Normal
Naypyitaw        Member  Member  Member
Yangon           Member  Member  Normal

In [159]:
dissatisfied = (df.Rating_category == 'Low') & (df['Customer type'] == 'Member')
#Кількість покупок незадоволених клієнтів і яка категорія товарів
quantity = df[dissatisfied]['Product line'].value_counts().idxmin()
quantity

'Health and beauty'

## Висновок:
Проаналізувавши дані бачимо що низький рейтинг задоволеності саме у клієнтів які використовують карту клієнта і найменше купують категорію товарів 'Health and beauty'. 
Низький рейтинг у клієнтів, які використовують картку: Це може свідчити про те, що програма лояльності або сама карта не відповідає очікуванням клієнтів.
Менше покупок у категорії 'Health and beauty': Це може бути сигналом, що ця категорія не відповідає потребам або уподобанням клієнтів, або є проблеми з якістю продукції або обслуговуванням в цій категорії.
#### Рекомендації:
Додатково тут треба провести опитування, чому саме цієї категорією товарів не задоволені клієнти. В опитуванні можна зосередитися на аспектах продуктів та обслуговування, які можуть бути покращені.
Впровадити більше тестерів і можна при купівлі на певну суму різних товарів з супермаркету в подарунок класти пару тестерів з категорії 'Health and beauty'. Це може підвищити зацікавленість клієнтів у цій категорії та дозволить їм спробувати продукти перед покупкою.