#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import pandas as pd
df = pd.read_csv('../data/supermarket_sales.csv')

In [14]:
df.head(10)

    Invoice ID Branch       City  ... gross margin percentage gross income Rating
0  750-67-8428      A     Yangon  ...                4.761905      26.1415    9.1
1  226-31-3081      C  Naypyitaw  ...                4.761905       3.8200    9.6
2  631-41-3108      A     Yangon  ...                4.761905      16.2155    7.4
3  123-19-1176      A     Yangon  ...                4.761905      23.2880    8.4
4  373-73-7910      A     Yangon  ...                4.761905      30.2085    5.3
5  699-14-3026      C  Naypyitaw  ...                4.761905      29.8865    4.1
6  355-53-5943      A     Yangon  ...                4.761905      20.6520    5.8
7  315-22-5665      C  Naypyitaw  ...                4.761905      36.7800    8.0
8  665-32-9167      A     Yangon  ...                4.761905       3.6260    7.2
9  692-92-5582      B   Mandalay  ...                4.761905       8.2260    5.9

[10 rows x 17 columns]

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [22]:
df.groupby('Branch')['gross income'].sum()

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [16]:
pd.pivot_table(df, index = 'Branch' , columns = 'City' , values = 'gross income', aggfunc = 'sum')

City    Mandalay  Naypyitaw     Yangon
Branch
A            NaN        NaN  5057.1605
B       5057.032        NaN        NaN
C            NaN  5265.1765        NaN

In [25]:
df.groupby('Branch')['gross income'].sum().idxmax()

'C'

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [28]:
invoices_by_category = pd.pivot_table(df, index='Branch', columns='Product line', values='City', aggfunc='count')

In [56]:
invoices_by_category

Product line  Electronic accessories  ...  Sports and travel
Branch                                ...
A                                 60  ...                 59
B                                 55  ...                 62
C                                 55  ...                 45

[3 rows x 6 columns]

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [60]:
invoices_by_category.columns

Index(['Electronic accessories', 'Fashion accessories', 'Food and beverages',
       'Health and beauty', 'Home and lifestyle', 'Sports and travel'],
      dtype='object', name='Product line')

In [64]:
invoices_by_category.index

Index(['A', 'B', 'C'], dtype='object', name='Branch')

In [63]:
filtred_index =invoices_by_category['Electronic accessories'].idxmax()

'A'

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

#### 1. –•—Ç–æ —á–∞—Å—Ç—ñ—à–µ –∫—É–ø—É—î —Ç–æ–≤–∞—Ä–∏ —á–æ–ª–æ–≤—ñ–∫–∏ —á–∏ –∂—ñ–Ω–∫–∏. –Ø–∫—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–∞ –Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å –∂—ñ–Ω–∫–∏/—á–æ–ª–æ–≤—ñ–∫–∏. 
–ù–∞ –æ—Å–Ω–æ–≤—ñ –∞–Ω–∞–ª—ñ–∑—É —ñ –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–Ω–∞ —Ä–æ–∑—Ä–æ–±–∏—Ç–∏ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤—ñ —Å—Ç—Ä–∞—Ç–µ–≥—ñ—ó –¥–ª—è –±—ñ–ª—å—à–æ—ó –∑–∞–ª—É—á–µ–Ω–Ω–æ—Å—Ç—ñ —Ç–æ—ó –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ö—Ç–æ –∫—É–ø—É—î —Ä—ñ–¥—à–µ.

In [22]:
grouped_data = df.groupby(['Product line', 'Gender'])['Quantity'].sum().idxmax()
grouped_data

('Fashion accessories', 'Female')

In [41]:
pd.pivot_table(df, index = 'Gender', columns = ['City'], values = ['Quantity'], aggfunc = 'count')

       Quantity
City   Mandalay Naypyitaw Yangon
Gender
Female      162       178    161
Male        170       150    179

In [39]:
tabl = pd.pivot_table(df, index = 'Product line', columns = ['Gender', 'City' ], values = ['Quantity'], aggfunc = 'count')
tabl

                       Quantity
Gender                   Female                      Male
City                   Mandalay Naypyitaw Yangon Mandalay Naypyitaw Yangon
Product line
Electronic accessories       28        28     28       27        27     32
Fashion accessories          33        35     28       29        30     23
Food and beverages           29        38     23       21        28     35
Health and beauty            20        23     21       33        29     26
Home and lifestyle           22        25     32       28        20     33
Sports and travel            30        29     29       32        16     30

In [70]:
max_invoice = tabl.max().idxmax()
min_invoice = tabl.min().idxmin()
popular_productgroup = tabl.max(axis = 1).idxmax()
not_populargroup = tabl.min(axis =1 ).idxmin()
print(f'–ù–∞–π–±—ñ–ª—å—à–µ –ø–æ–∫—É–ø–æ–∫ –∑–¥—ñ–π—Å–Ω—é—î—Ç—å—Å—è {max_invoice[1]}, –≤ –º—ñ—Å—Ç—ñ {max_invoice[2]} - {popular_productgroup}.',
      "\n"f'–ù–∞–π–º–µ–Ω—à–µ –ø–æ–∫—É–ø–æ–∫ –∑–¥—ñ–π—Å–Ω—é—î—Ç—å—Å—è {min_invoice[1]}, –≤ –º—ñ—Å—Ç—ñ {min_invoice[2]} - {not_populargroup}.')

–ù–∞–π–±—ñ–ª—å—à–µ –ø–æ–∫—É–ø–æ–∫ –∑–¥—ñ–π—Å–Ω—é—î—Ç—å—Å—è Female, –≤ –º—ñ—Å—Ç—ñ Naypyitaw - Food and beverages.
–ù–∞–π–º–µ–Ω—à–µ –ø–æ–∫—É–ø–æ–∫ –∑–¥—ñ–π—Å–Ω—é—î—Ç—å—Å—è Male, –≤ –º—ñ—Å—Ç—ñ Naypyitaw - Sports and travel.

## –í–∏—Å–Ω–æ–≤–æ–∫: 
–ú–∏ –ø—Ä–æ–≤–µ–ª–∏ –∞–Ω–∞–ª—ñ–∑ –¥–∞–Ω–∏—Ö, —â–æ–± –≤–∏–∑–Ω–∞—á–∏—Ç–∏, —è–∫—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ —á–∞—Å—Ç—ñ—à–µ –∫—É–ø—É—é—Ç—å —á–æ–ª–æ–≤—ñ–∫–∏ —Ç–∞ –∂—ñ–Ω–∫–∏, –∞ —Ç–∞–∫–æ–∂ —É —è–∫–∏—Ö –º—ñ—Å—Ç–∞—Ö —Ü—ñ –ø–æ–∫—É–ø–∫–∏ –Ω–∞–π—á–∞—Å—Ç—ñ—à—ñ. –•–æ—á–∞ –≤ —Ä–æ–∑—Ä—ñ–∑—ñ –∑–∞–≥–∞–ª—å–Ω–æ–≥–æ –∞–Ω–∞–ª—ñ–∑—É –º–∏ –æ—Ç—Ä–∏–º–∞–ª–∏ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∏ —â–æ –∂—ñ–Ω–∫–∏ –∫—É–ø–ª—è—é—Ç—å —á–∞—Å—Ç—ñ—à–µ –∑–∞ —á–æ–ª–æ–≤—ñ–∫—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—é —Ç–æ–≤–∞—Ä—ñ–≤ Fashion accessories, –Ω–∞ –º–æ—é –¥—É–º–∫—É, –¥–æ—Ü—ñ–ª—å–Ω—ñ—à–µ —Ä–æ–∑–≥–ª—è–Ω—É—Ç–∏ –∞–Ω–∞–ª—ñ–∑ –ø–æ–∫—É–ø–æ–∫ –Ω–∞ –æ—Å–Ω–æ–≤—ñ –≥–µ–Ω–¥–µ—Ä–Ω–æ—ó —É–º–æ–≤–∏ –ø–æ –º—ñ—Å—Ç–∞–º –º–µ—Ä–µ–∂—ñ —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—ñ–≤ —ñ —Ç–∏–ø—É –ø—Ä–æ–¥—É–∫—Ç—ñ–≤. 
–í–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –¥–∞–Ω—ñ –ø—Ä–æ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø—Ä–∏–¥–±–∞–Ω–∏—Ö —Ç–æ–≤–∞—Ä—ñ–≤, –º–∏ –∑'—è—Å—É–≤–∞–ª–∏, —â–æ –∂—ñ–Ω–∫–∏ –≤ –º—ñ—Å—Ç—ñ Naypyitaw –Ω–∞–π–±—ñ–ª—å—à–µ –∫—É–ø—É—é—Ç—å —Ç–æ–≤–∞—Ä–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó Food and Beverages, —Ç–æ–¥—ñ —è–∫ —á–æ–ª–æ–≤—ñ–∫–∏ –≤ Mandalay —Ç–∞ Yangon —á–∞—Å—Ç—ñ—à–µ –∫—É–ø—É—é—Ç—å —Ç–æ–≤–∞—Ä–∏ —ñ–Ω—à–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ–π. –ù–∞–π–º–µ–Ω—à –ø–æ–ø—É–ª—è—Ä–Ω–æ—é –∫–∞—Ç–µ–≥–æ—Ä—ñ—î—é —Ç–æ–≤–∞—Ä—ñ–≤ —Å–µ—Ä–µ–¥ —á–æ–ª–æ–≤—ñ–∫—ñ–≤ –≤–∏—è–≤–∏–ª–∞—Å—è Sports and Travel —É –º—ñ—Å—Ç—ñ Naypyitaw.

#### –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó:

–û–ø—Ç–∏–º—ñ–∑–∞—Ü—ñ—è –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤–∏—Ö –∫–∞–º–ø–∞–Ω—ñ–π: –û—Å–∫—ñ–ª—å–∫–∏ –∂—ñ–Ω–∫–∏ –≤ Naypyitaw –∞–∫—Ç–∏–≤–Ω–æ –∫—É–ø—É—é—Ç—å —Ç–æ–≤–∞—Ä–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó Food and Beverages, —Ä–µ–∫–æ–º–µ–Ω–¥—É—î—Ç—å—Å—è –∑–∞–ø—Ä–æ–≤–∞–¥–∏—Ç–∏ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤—ñ –∫–∞–º–ø–∞–Ω—ñ—ó, —è–∫—ñ —Å–ø—Ä—è–º–æ–≤–∞–Ω—ñ –Ω–∞ –∑–±—ñ–ª—å—à–µ–Ω–Ω—è –æ–±—Å—è–≥—ñ–≤ –ø—Ä–æ–¥–∞–∂—ñ–≤ —Ü—ñ—î—ó –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó. –ù–∞–ø—Ä–∏–∫–ª–∞–¥, –º–æ–∂–Ω–∞ –∑–∞–ø—Ä–æ–ø–æ–Ω—É–≤–∞—Ç–∏ –∞–∫—Ü—ñ—ó —Ç–∏–ø—É "–ö—É–ø—É–π—Ç–µ 2 —Ç–æ–≤–∞—Ä–∏ - –æ—Ç—Ä–∏–º–∞–π—Ç–µ 3-–π –∑—ñ –∑–Ω–∏–∂–∫–æ—é 50%", —â–æ–± —Å—Ç–∏–º—É–ª—é–≤–∞—Ç–∏ —â–µ –±—ñ–ª—å—à—ñ –ø–æ–∫—É–ø–∫–∏.

–ó–±—ñ–ª—å—à–µ–Ω–Ω—è –ø—Ä–æ–¥–∞–∂—ñ–≤ –º–∞–ª–æ–ø–æ–ø—É–ª—è—Ä–Ω–∏—Ö —Ç–æ–≤–∞—Ä—ñ–≤: –ö–∞—Ç–µ–≥–æ—Ä—ñ—è Sports and Travel –≤–∏—è–≤–∏–ª–∞—Å—è –Ω–∞–π–º–µ–Ω—à –∑–∞—Ç—Ä–µ–±—É–≤–∞–Ω–æ—é —Å–µ—Ä–µ–¥ —á–æ–ª–æ–≤—ñ–∫—ñ–≤ —É Naypyitaw. –†–µ–∫–æ–º–µ–Ω–¥—É—î—Ç—å—Å—è –∑–≤–µ—Ä–Ω—É—Ç–∏ —É–≤–∞–≥—É –Ω–∞ –º–æ–∂–ª–∏–≤—ñ –ø—Ä–∏—á–∏–Ω–∏ –Ω–∏–∑—å–∫–æ—ó –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç—ñ —Ü—ñ—î—ó –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó. –ú–æ–∂–Ω–∞ –æ—Ä–≥–∞–Ω—ñ–∑—É–≤–∞—Ç–∏ –ø—Ä–æ–º–æ–∞–∫—Ü—ñ—ó, –Ω–∞–ø—Ä–∏–∫–ª–∞–¥, —Å–ø—ñ–ª—å–Ω–æ –∑ –º—ñ—Å—å–∫–æ—é –≤–ª–∞–¥–æ—é –ø—Ä–æ–≤–µ—Å—Ç–∏ –º–∞—Ä–∞—Ñ–æ–Ω –∞–±–æ —ñ–Ω—à—ñ —Å–ø–æ—Ä—Ç–∏–≤–Ω—ñ –∑–∞—Ö–æ–¥–∏, –¥–µ –Ω–µ–æ–±—Ö—ñ–¥–Ω–µ —Å–ø–æ—Ä—Ç–∏–≤–Ω–µ –æ–±–ª–∞–¥–Ω–∞–Ω–Ω—è, —è–∫–µ –º–æ–∂–Ω–∞ –ø—Ä–∏–¥–±–∞—Ç–∏ –≤ –Ω–∞—à—ñ–π –º–µ—Ä–µ–∂—ñ —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—ñ–≤.

–ü—ñ–¥–≤–∏—â–µ–Ω–Ω—è –æ–±—ñ–∑–Ω–∞–Ω–æ—Å—Ç—ñ –∫–ª—ñ—î–Ω—Ç—ñ–≤: –°—Ç–≤–æ—Ä–µ–Ω–Ω—è —Ç–µ—Å—Ç–æ–≤–∏—Ö –∑–æ–Ω —É –º–∞–≥–∞–∑–∏–Ω–∞—Ö –¥–ª—è —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó Sports and Travel –º–æ–∂–µ –¥–æ–ø–æ–º–æ–≥—Ç–∏ –∫–ª—ñ—î–Ω—Ç–∞–º –∫—Ä–∞—â–µ –æ–∑–Ω–∞–π–æ–º–∏—Ç–∏—Å—è –∑ –ø—Ä–æ–¥—É–∫—Ü—ñ—î—é, –∑–Ω—è—Ç–∏ –º–æ–∂–ª–∏–≤—ñ —Å—É–º–Ω—ñ–≤–∏ —Ç–∞ –ø—ñ–¥–≤–∏—â–∏—Ç–∏ —Ä—ñ–≤–µ–Ω—å —ó—Ö–Ω—å–æ—ó –∑–∞–¥–æ–≤–æ–ª–µ–Ω–æ—Å—Ç—ñ. –¶–µ —Å–ø—Ä–∏—è—Ç–∏–º–µ –∑–±—ñ–ª—å—à–µ–Ω–Ω—é –ø—Ä–æ–¥–∞–∂—ñ–≤ —Ç–∞ –∑–∞–ª—É—á–µ–Ω–Ω—é –Ω–æ–≤–∏—Ö –∫–ª—ñ—î–Ω—Ç—ñ–≤.

#### 2. –í–∏–∑–Ω–∞—á–µ–Ω–Ω—è –Ω–∞–π–º–µ–Ω—à –ø–æ–ø—É–ª—è—Ä–Ω–æ–≥–æ –º–µ—Ç–æ–¥—É –æ–ø–ª–∞—Ç–∏ —Å–µ—Ä–µ–¥ –∫–ª—ñ—î–Ω—Ç—ñ–≤, —â–æ –º–æ–∂–µ —Å–≤—ñ–¥—á–∏—Ç–∏ –ø—Ä–æ –ø–æ—Ç–µ–Ω—Ü—ñ–π–Ω—ñ –ø—Ä–æ–±–ª–µ–º–∏ –∞–±–æ –Ω–µ–¥–æ–ª—ñ–∫–∏ –≤ –æ–±—Å–ª—É–≥–æ–≤—É–≤–∞–Ω–Ω—ñ. –ù–∞–ø—Ä–∏–∫–ª–∞–¥, —è–∫—â–æ –∫–ª—ñ—î–Ω—Ç–∏ —Ä—ñ–¥–∫–æ –∫–æ—Ä–∏—Å—Ç—É—é—Ç—å—Å—è –∫–∞—Ä—Ç–∫–∞–º–∏, —Ü–µ –º–æ–∂–µ –≤–∫–∞–∑—É–≤–∞—Ç–∏ –Ω–∞ –Ω–µ–¥–æ—Å—Ç–∞—Ç–Ω—é –∫—ñ–ª—å–∫—ñ—Å—Ç—å —Ç–µ—Ä–º—ñ–Ω–∞–ª—ñ–≤ –∞–±–æ —ó—Ö–Ω—é –Ω–µ–Ω–∞–¥—ñ–π–Ω—ñ—Å—Ç—å. –Ø–∫—â–æ –∂ —á–∞—Å—Ç—ñ—à–µ –æ–±–∏—Ä–∞—é—Ç—å –≥–æ—Ç—ñ–≤–∫—É, –º–æ–∂–ª–∏–≤—ñ —Ç—Ä—É–¥–Ω–æ—â—ñ –∑ —Ä–µ—à—Ç–æ—é —É –∫–∞—Å–∏—Ä—ñ–≤. –í–∏—è–≤–ª–µ–Ω–Ω—è —Ü–∏—Ö –∞—Å–ø–µ–∫—Ç—ñ–≤ –¥–æ–∑–≤–æ–ª–∏—Ç—å –ø—ñ–¥–≤–∏—â–∏—Ç–∏ –µ—Ñ–µ–∫—Ç–∏–≤–Ω—ñ—Å—Ç—å –æ–±—Å–ª—É–≥–æ–≤—É–≤–∞–Ω–Ω—è —Ç–∞ –∑–∞–¥–æ–≤–æ–ª–µ–Ω—ñ—Å—Ç—å –∫–ª—ñ—î–Ω—Ç—ñ–≤.

In [117]:
payment_method = df.groupby('Payment')['City'].agg('count').reset_index() 
# –†–∞—Ö—É—î–º–æ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –æ–ø–ª–∞—Ç –ø–æ –∫–æ–∂–Ω–æ–º—É –º–µ—Ç–æ–¥—É

payment_method

       Payment  City
0         Cash   344
1  Credit card   311
2      Ewallet   345

In [106]:
pd.pivot_table(df, index = 'Payment', columns = 'City', values = 'Invoice ID' , aggfunc = 'count' )

City         Mandalay  Naypyitaw  Yangon
Payment
Cash              110        124     110
Credit card       109         98     104
Ewallet           113        106     126

## –í–∏—Å–Ω–æ–≤–∫–∏:
–ó–≥—ñ–¥–Ω–æ –∑ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–º –∞–Ω–∞–ª—ñ–∑–æ–º –¥–∞–Ω–∏—Ö –ø—Ä–æ –º–µ—Ç–æ–¥–∏ –æ–ø–ª–∞—Ç–∏ –≤ —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç–∞—Ö, –Ω–∞–π–º–µ–Ω—à–∞ –ø–æ–ø—É–ª—è—Ä–Ω—ñ—Å—Ç—å —Å–ø–æ—Å—Ç–µ—Ä—ñ–≥–∞—î—Ç—å—Å—è —É –º–µ—Ç–æ–¥—É –æ–ø–ª–∞—Ç–∏ –≥–æ—Ç—ñ–≤–∫–æ—é —É –≤—Å—ñ—Ö —Ç—Ä—å–æ—Ö —Ñ—ñ–ª—ñ—è—Ö. –¶–µ –º–æ–∂–µ —Å–≤—ñ–¥—á–∏—Ç–∏ –ø—Ä–æ –º–æ–∂–ª–∏–≤—ñ –ø—Ä–æ–±–ª–µ–º–∏ –∑ –æ–±—Å–ª—É–≥–æ–≤—É–≤–∞–Ω–Ω—è–º, —Ç–∞–∫—ñ —è–∫ –Ω–µ—Å—Ç–∞—á–∞ –¥—Ä—ñ–±–Ω–∏—Ö –∫—É–ø—é—Ä —É –∫–∞—Å–∞—Ö –¥–ª—è –≤–∏–¥–∞—á—ñ —Ä–µ—à—Ç–∏. –í–ø—Ä–æ–≤–∞–¥–∂–µ–Ω–Ω—è —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ–π –º–æ–∂–µ –¥–æ–ø–æ–º–æ–≥—Ç–∏ –ø—ñ–¥–≤–∏—â–∏—Ç–∏ –µ—Ñ–µ–∫—Ç–∏–≤–Ω—ñ—Å—Ç—å –æ–±—Å–ª—É–≥–æ–≤—É–≤–∞–Ω–Ω—è —Ç–∞ –∑–∞–¥–æ–≤–æ–ª–µ–Ω—ñ—Å—Ç—å –∫–ª—ñ—î–Ω—Ç—ñ–≤.

#### –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó:

–ó–∞–±–µ–∑–ø–µ—á–µ–Ω–Ω—è –¥—Ä—ñ–±–Ω–∏—Ö –≥—Ä–æ—à–µ–π: –†–µ–∫–æ–º–µ–Ω–¥—É—î—Ç—å—Å—è –∑–∞–±–µ–∑–ø–µ—á–∏—Ç–∏ –Ω–∞—è–≤–Ω—ñ—Å—Ç—å –¥–æ—Å—Ç–∞—Ç–Ω—å–æ—ó –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –¥—Ä—ñ–±–Ω–∏—Ö –∫—É–ø—é—Ä —É –∫–∞—Å–∞—Ö, —â–æ–± —É–Ω–∏–∫–Ω—É—Ç–∏ –ø—Ä–æ–±–ª–µ–º –∑ –≤–∏–¥–∞—á–µ—é —Ä–µ—à—Ç–∏. –¶–µ –¥–æ–ø–æ–º–æ–∂–µ –∑–º–µ–Ω—à–∏—Ç–∏ –Ω–µ–∑—Ä—É—á–Ω–æ—Å—Ç—ñ –¥–ª—è –∫–ª—ñ—î–Ω—Ç—ñ–≤ —ñ –∑–∞–±–µ–∑–ø–µ—á–∏—Ç—å –±—ñ–ª—å—à –µ—Ñ–µ–∫—Ç–∏–≤–Ω–µ –æ–±—Å–ª—É–≥–æ–≤—É–≤–∞–Ω–Ω—è.

–í–ø—Ä–æ–≤–∞–¥–∂–µ–Ω–Ω—è –∫—É–ø–æ–Ω—ñ–≤ –Ω–∞ –Ω–∞—Å—Ç—É–ø–Ω—É –ø–æ–∫—É–ø–∫—É: –£ –≤–∏–ø–∞–¥–∫–∞—Ö, –∫–æ–ª–∏ –¥—Ä—ñ–±–Ω—ñ –≥—Ä–æ—à—ñ –≤—ñ–¥—Å—É—Ç–Ω—ñ, –º–æ–∂–Ω–∞ –≤–ø—Ä–æ–≤–∞–¥–∏—Ç–∏ —Å–∏—Å—Ç–µ–º—É –∫—É–ø–æ–Ω—ñ–≤ –Ω–∞ –Ω–∞—Å—Ç—É–ø–Ω—É –ø–æ–∫—É–ø–∫—É. –ö–∞—Å–∏—Ä–∏ –º–æ–∂—É—Ç—å –≤–∫–∞–∑—É–≤–∞—Ç–∏ —Å—É–º—É –≤—Ä—É—á–Ω—É, —â–æ–± –∫–æ–º–ø–µ–Ω—Å—É–≤–∞—Ç–∏ –≤—ñ–¥—Å—É—Ç–Ω—ñ—Å—Ç—å –¥—Ä—ñ–±–Ω–∏—Ö –≥—Ä–æ—à–µ–π. –¶–µ –∑–∞–±–µ–∑–ø–µ—á–∏—Ç—å –∑—Ä—É—á–Ω—ñ—Å—Ç—å –¥–ª—è –∫–ª—ñ—î–Ω—Ç—ñ–≤ —ñ –∑–º–µ–Ω—à–∏—Ç—å –Ω–µ–≥–∞—Ç–∏–≤–Ω–∏–π –≤–ø–ª–∏–≤ –Ω–∞ —ó—Ö–Ω—î –≤—Ä–∞–∂–µ–Ω–Ω—è –≤—ñ–¥ –æ–±—Å–ª—É–≥–æ–≤—É–≤–∞–Ω–Ω—è.

–î–æ–¥–∞—Ç–∫–æ–≤–∏–π –∞–Ω–∞–ª—ñ–∑:

–†–µ–∫–æ–º–µ–Ω–¥—É—î—Ç—å—Å—è –ø–µ—Ä–µ–≤—ñ—Ä–∏—Ç–∏ —ñ–Ω—à—ñ —Ñ–∞–∫—Ç–æ—Ä–∏, —è–∫—ñ –º–æ–∂—É—Ç—å –≤–ø–ª–∏–≤–∞—Ç–∏ –Ω–∞ –ø–æ–ø—É–ª—è—Ä–Ω—ñ—Å—Ç—å –º–µ—Ç–æ–¥—ñ–≤ –æ–ø–ª–∞—Ç–∏, —Ç–∞–∫—ñ —è–∫ —Å–µ–∑–æ–Ω–Ω—ñ —Ç—Ä–µ–Ω–¥–∏ —á–∏ —Å–ø–µ—Ü—ñ–∞–ª—å–Ω—ñ –ø—Ä–æ–º–æ–∞–∫—Ü—ñ—ó.
–ó–±—ñ—Ä –∑–≤–æ—Ä–æ—Ç–Ω–æ–≥–æ –∑–≤'—è–∑–∫—É —Ç–∞ –º–æ–Ω—ñ—Ç–æ—Ä–∏–Ω–≥: –ü—Ä–æ–≤–æ–¥—å—Ç–µ –æ–ø–∏—Ç—É–≤–∞–Ω–Ω—è –∫–ª—ñ—î–Ω—Ç—ñ–≤ –¥–ª—è –æ—Ç—Ä–∏–º–∞–Ω–Ω—è –¥–æ–¥–∞—Ç–∫–æ–≤–æ—ó —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó –ø—Ä–æ –º–æ–∂–ª–∏–≤—ñ –ø—Ä–æ–±–ª–µ–º–∏ –∑ –æ–ø–ª–∞—Ç–æ—é. –ü—ñ—Å–ª—è –≤–ø—Ä–æ–≤–∞–¥–∂–µ–Ω–Ω—è –∑–∞–ø—Ä–æ–ø–æ–Ω–æ–≤–∞–Ω–∏—Ö –∑–º—ñ–Ω, –∑–¥—ñ–π—Å–Ω—é–π—Ç–µ –º–æ–Ω—ñ—Ç–æ—Ä–∏–Ω–≥ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ñ–≤, —â–æ–± –æ—Ü—ñ–Ω–∏—Ç–∏ —ó—Ö –≤–ø–ª–∏–≤ –Ω–∞ –ø–æ–ø—É–ª—è—Ä–Ω—ñ—Å—Ç—å –º–µ—Ç–æ–¥—ñ–≤ –æ–ø–ª–∞—Ç–∏ —Ç–∞ –∑–∞–≥–∞–ª—å–Ω–µ –æ–±—Å–ª—É–≥–æ–≤—É–≤–∞–Ω–Ω—è –∫–ª—ñ—î–Ω—Ç—ñ–≤.

#### 3. –û—Ü—ñ–Ω–∫–∞ —Ä—ñ–≤–Ω—è –∑–∞–¥–æ–≤–æ–ª–µ–Ω–æ—Å—Ç—ñ –∫–ª—ñ—î–Ω—Ç—ñ–≤: –ê–Ω–∞–ª—ñ–∑—É—é—á–∏ —Ä—ñ–≤–µ–Ω—å –∑–∞–¥–æ–≤–æ–ª–µ–Ω–æ—Å—Ç—ñ –∫–ª—ñ—î–Ω—Ç—ñ–≤, –ø–æ—Ç—Ä—ñ–±–Ω–æ –≤–∏–∑–Ω–∞—á–∏—Ç–∏ –π–º–æ–≤—ñ—Ä–Ω—ñ—Å—Ç—å –ø–æ–≤—Ç–æ—Ä–Ω–æ–≥–æ –≤—ñ–∑–∏—Ç—É –∫–ª—ñ—î–Ω—Ç–∞ –∞–±–æ –π–æ–≥–æ –≥–æ—Ç–æ–≤–Ω—ñ—Å—Ç—å —Ä–µ–∫–æ–º–µ–Ω–¥—É–≤–∞—Ç–∏ –Ω–∞—à—ñ –ø–æ—Å–ª—É–≥–∏ —ñ–Ω—à–∏–º. –¶—è –≥—ñ–ø–æ—Ç–µ–∑–∞ –¥–æ–∑–≤–æ–ª–∏—Ç—å –æ—Ü—ñ–Ω–∏—Ç–∏ –∑–∞–≥–∞–ª—å–Ω—É –µ—Ñ–µ–∫—Ç–∏–≤–Ω—ñ—Å—Ç—å –æ–±—Å–ª—É–≥–æ–≤—É–≤–∞–Ω–Ω—è —Ç–∞ –≤–∏—è–≤–∏—Ç–∏ –ø–æ—Ç–µ–Ω—Ü—ñ–π–Ω—ñ –æ–±–ª–∞—Å—Ç—ñ –¥–ª—è –ø–æ–∫—Ä–∞—â–µ–Ω–Ω—è –∫–ª—ñ—î–Ω—Ç—Å—å–∫–æ–≥–æ –¥–æ—Å–≤—ñ–¥—É.

In [123]:
def rules_rating(val):
    if val >= 8:
        return 'High'
    elif 6 <= val < 8:
        return 'Medium'
    else:
        return 'Low'

In [124]:
df['Rating_category'] = df.Rating.apply(rules_rating).astype('category')

In [147]:
def most_frequent(series):
    return series.mode().values[0] if not series.mode().empty else None

# –ì—Ä—É–ø—É–≤–∞–Ω–Ω—è –∑–∞ –º—ñ—Å—Ç–æ–º —ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—î—é —Ä–µ–π—Ç–∏–Ω–≥—É —Ç–∞ –∑–∞—Å—Ç–æ—Å—É–≤–∞–Ω–Ω—è —Ñ—É–Ω–∫—Ü—ñ—ó –¥–ª—è –∑–Ω–∞—Ö–æ–¥–∂–µ–Ω–Ω—è –Ω–∞–π—á–∞—Å—Ç—ñ—à–µ –∑–Ω–∞—á–µ–Ω–Ω—è
pivot_table_mode = df.groupby(['City', 'Rating_category'])['Customer type'].apply(most_frequent).unstack()

pivot_table_mode

Rating_category    High     Low  Medium
City
Mandalay         Member  Member  Normal
Naypyitaw        Member  Member  Member
Yangon           Member  Member  Normal

In [159]:
dissatisfied = (df.Rating_category == 'Low') & (df['Customer type'] == 'Member')
#–ö—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ–∫—É–ø–æ–∫ –Ω–µ–∑–∞–¥–æ–≤–æ–ª–µ–Ω–∏—Ö –∫–ª—ñ—î–Ω—Ç—ñ–≤ —ñ —è–∫–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è —Ç–æ–≤–∞—Ä—ñ–≤
quantity = df[dissatisfied]['Product line'].value_counts().idxmin()
quantity

'Health and beauty'

## –í–∏—Å–Ω–æ–≤–æ–∫:
–ü—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞–≤—à–∏ –¥–∞–Ω—ñ –±–∞—á–∏–º–æ —â–æ –Ω–∏–∑—å–∫–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –∑–∞–¥–æ–≤–æ–ª–µ–Ω–æ—Å—Ç—ñ —Å–∞–º–µ —É –∫–ª—ñ—î–Ω—Ç—ñ–≤ —è–∫—ñ –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—é—Ç—å –∫–∞—Ä—Ç—É –∫–ª—ñ—î–Ω—Ç–∞ —ñ –Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å –∫–∞—Ç–µ–≥–æ—Ä—ñ—é —Ç–æ–≤–∞—Ä—ñ–≤ 'Health and beauty'. 
–ù–∏–∑—å–∫–∏–π —Ä–µ–π—Ç–∏–Ω–≥ —É –∫–ª—ñ—î–Ω—Ç—ñ–≤, —è–∫—ñ –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—é—Ç—å –∫–∞—Ä—Ç–∫—É: –¶–µ –º–æ–∂–µ —Å–≤—ñ–¥—á–∏—Ç–∏ –ø—Ä–æ —Ç–µ, —â–æ –ø—Ä–æ–≥—Ä–∞–º–∞ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ –∞–±–æ —Å–∞–º–∞ –∫–∞—Ä—Ç–∞ –Ω–µ –≤—ñ–¥–ø–æ–≤—ñ–¥–∞—î –æ—á—ñ–∫—É–≤–∞–Ω–Ω—è–º –∫–ª—ñ—î–Ω—Ç—ñ–≤.
–ú–µ–Ω—à–µ –ø–æ–∫—É–ø–æ–∫ —É –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó 'Health and beauty': –¶–µ –º–æ–∂–µ –±—É—Ç–∏ —Å–∏–≥–Ω–∞–ª–æ–º, —â–æ —Ü—è –∫–∞—Ç–µ–≥–æ—Ä—ñ—è –Ω–µ –≤—ñ–¥–ø–æ–≤—ñ–¥–∞—î –ø–æ—Ç—Ä–µ–±–∞–º –∞–±–æ —É–ø–æ–¥–æ–±–∞–Ω–Ω—è–º –∫–ª—ñ—î–Ω—Ç—ñ–≤, –∞–±–æ —î –ø—Ä–æ–±–ª–µ–º–∏ –∑ —è–∫—ñ—Å—Ç—é –ø—Ä–æ–¥—É–∫—Ü—ñ—ó –∞–±–æ –æ–±—Å–ª—É–≥–æ–≤—É–≤–∞–Ω–Ω—è–º –≤ —Ü—ñ–π –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó.
#### –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó:
–î–æ–¥–∞—Ç–∫–æ–≤–æ —Ç—É—Ç —Ç—Ä–µ–±–∞ –ø—Ä–æ–≤–µ—Å—Ç–∏ –æ–ø–∏—Ç—É–≤–∞–Ω–Ω—è, —á–æ–º—É —Å–∞–º–µ —Ü—ñ—î—ó –∫–∞—Ç–µ–≥–æ—Ä—ñ—î—é —Ç–æ–≤–∞—Ä—ñ–≤ –Ω–µ –∑–∞–¥–æ–≤–æ–ª–µ–Ω—ñ –∫–ª—ñ—î–Ω—Ç–∏. –í –æ–ø–∏—Ç—É–≤–∞–Ω–Ω—ñ –º–æ–∂–Ω–∞ –∑–æ—Å–µ—Ä–µ–¥–∏—Ç–∏—Å—è –Ω–∞ –∞—Å–ø–µ–∫—Ç–∞—Ö –ø—Ä–æ–¥—É–∫—Ç—ñ–≤ —Ç–∞ –æ–±—Å–ª—É–≥–æ–≤—É–≤–∞–Ω–Ω—è, —è–∫—ñ –º–æ–∂—É—Ç—å –±—É—Ç–∏ –ø–æ–∫—Ä–∞—â–µ–Ω—ñ.
–í–ø—Ä–æ–≤–∞–¥–∏—Ç–∏ –±—ñ–ª—å—à–µ —Ç–µ—Å—Ç–µ—Ä—ñ–≤ —ñ –º–æ–∂–Ω–∞ –ø—Ä–∏ –∫—É–ø—ñ–≤–ª—ñ –Ω–∞ –ø–µ–≤–Ω—É —Å—É–º—É —Ä—ñ–∑–Ω–∏—Ö —Ç–æ–≤–∞—Ä—ñ–≤ –∑ —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É –≤ –ø–æ–¥–∞—Ä—É–Ω–æ–∫ –∫–ª–∞—Å—Ç–∏ –ø–∞—Ä—É —Ç–µ—Å—Ç–µ—Ä—ñ–≤ –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó 'Health and beauty'. –¶–µ –º–æ–∂–µ –ø—ñ–¥–≤–∏—â–∏—Ç–∏ –∑–∞—Ü—ñ–∫–∞–≤–ª–µ–Ω—ñ—Å—Ç—å –∫–ª—ñ—î–Ω—Ç—ñ–≤ —É —Ü—ñ–π –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–∞ –¥–æ–∑–≤–æ–ª–∏—Ç—å —ó–º —Å–ø—Ä–æ–±—É–≤–∞—Ç–∏ –ø—Ä–æ–¥—É–∫—Ç–∏ –ø–µ—Ä–µ–¥ –ø–æ–∫—É–ø–∫–æ—é.